

.filter-form label{
    margin-top:0.5rem;
}

.edit-filter-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-list{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    overflow-y: auto;
    border: 1px solid black;
    background-color: transparent;
}

.filter-list-2{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.filter-item{
    width: 340px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.filter-item:hover{
    background-color: rgba(255,255,255, 0.4);
}

.filter-item-input{
    cursor: pointer;
}

.selected-filter-name-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.marker-item-name{
    font-size: 25px;
}

.rename-button{
    background-color: white;
    border: 1px solid black;
}

.marker-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.marker-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}

.marker-item:hover{
    cursor: pointer;
    padding: 15px;
}

.marker-item-icon{
    width: 36px;
    height: 36px;   
    border-radius: 50px;
    padding: 2px;
}

.marker-item-input:hover{
    cursor: pointer;
}

.marker-item-remove{
    font-size: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.marker-item-add{
    font-size: 10px;
    padding: 10px;
    background-color: green;
    color: white;
}
.available-marker-container{
    display: flex;
    flex-direction: column;
}