/* UI CONTAINER STYLES */
.ui-container{
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 16% 84%;
}

/*UI MAP STYLES */
.ui-map{
    grid-row: 2 / 2;   
    grid-column: span 1;
}