/* UI CONTAINER STYLES */
.ui-container{
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 24% 76%;
}

/*UI MAP STYLES */
.ui-map{
    grid-row: 2 / 2;   
    grid-column: span 1;
}

.selecting-marker{
    cursor: url("https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png") 12 41, auto;
}