{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <!-- Mount point for React App Component -->
    <div id="react-root"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- Load React bundle -->
    <!-- ="../static/frontend/build/static/js/main.e3e45060.js -->
    <script src="{{ main_js }}"></script>
 {% endblock %}