{% extends "layout.html" %}
{%block head%}
    <!--Load CSS from the page from React-->
    <link rel="stylesheet" href="{{ main_css }}">
{% endblock %}

{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    <!-- Mount point for React App Component -->
    <div id="react-root"></div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- Load React bundle -->
    <!-- ="../static/frontend/build/static/js/main.e3e45060.js -->
    <script src="{{ main_js }}"></script>
 {% endblock %}